@model IEnumerable<ass_2.Models.Product>

@{
    ViewData["Title"] = "Welcome";
    ViewData["home"] = "yes";
}


 <div class="site-section bg-light">
      <div class="container">
        
        <div class="overlap-category mb-5">
          <div class="row align-items-stretch no-gutters">
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
              <a href="#" class="popular-category h-100">
                <span class="caption mb-2 d-block">T-shirts</span>
              </a>
            </div>
			<div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
              <a href="#" class="popular-category h-100">
                <span class="caption mb-2 d-block">Jeans</span>
              </a>
            </div><div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
              <a href="#" class="popular-category h-100">
                <span class="caption mb-2 d-block">Blouses</span>
              </a>
            </div><div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
              <a href="#" class="popular-category h-100">
                <span class="caption mb-2 d-block">Hoodies</span>
              </a>
            </div><div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
              <a href="#" class="popular-category h-100">
                <span class="caption mb-2 d-block">Jackets</span>
              </a>
            </div>
           
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <h2 class="h5 mb-4 text-black">Browse</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12  block-13">
            <div class="owl-carousel nonloop-block-13">
              @foreach (var item in Model) {
			  string img = "images/products/" + @item.Sku + ".jpg";
			
              <div class="d-block d-md-flex listing vertical">
                <a asp-action="Details" asp-route-id="@item.Id" class="img d-block" style="background-image: url('@img')"></a>
                <div class="lh-content">
                  <span class="category">Shirts</span>
                  <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                  <h3><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                  <p class="mb-0">
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-secondary"></span>
                    <span class="review">(3 Reviews)</span>
                  </p>
                </div>
              </div>
}
            

            </div>
          </div>


        </div>
      </div>
    </div>